@import "../../../utils/variables/variables.scss";

$input-height: 48px;

.form-input {
    width: 100%;
    margin-bottom: 1.2em;
    position: relative;
    .form-icon {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.6em 0.8em;
        margin-right: 0.4em;
        height: $input-height;
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        z-index: 1;

        svg {
            font-size: 1.2rem;
        }
        & + input {
            padding-right: 3em;
        }
    }
    & input {
        width: 100%;
        font-size: 1rem;
        font-family: inherit;
        padding: 0.6em 0.8em;
        height: $input-height;
        outline: none;
        border: none;
        background-color: $purple-light;
        color: white;
        border-radius: 4px;
        border: 2px solid transparent;
        transition: all 0.1s linear;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        &:focus {
            border: 2px solid $pink;
        }
    }

    & .error-msg {
        display: block;
        color: $pink;
        padding-top: 0.2em;
    }
}
