@import "../../utils/variables/variables.scss";

.sidebar-wrapper {
    width: 100%;
    .sidebar {
        border-radius: 6px;
        padding: 2em;
        padding-left: 3em;

        background-color: $semi-white;

        @media screen and (max-width: 1000px) {
            background-color: $purple-main;
        }

        .sidebar-tag {
            color: $purple-lighter;

            display: flex;
            align-items: center;
            cursor: pointer;

            svg {
                font-size: 1.4rem;
            }

            p {
                margin-left: 0.6em;
                letter-spacing: 0.04em;
                line-height: 1.6em;

                text-transform: capitalize;
            }

            &:not(:last-child) {
                margin-bottom: 1em;
            }

            &.blue {
                svg {
                    color: $blue;
                }
            }

            &.yellow {
                svg {
                    color: $yellow;
                }
            }

            &.red {
                svg {
                    color: $pink;
                }
            }

            &:hover {
                opacity: 0.8;
                transition: all 0.2s linear;
            }
        }
    }
}
