@import "../../utils/variables/variables.scss";

.navbar-wrapper {
    background-color: $semi-white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    .menu-mobile {
        position: absolute;
        top: calc(100% + $padding-main-top);
        right: 15px;
        display: none;
        z-index: 10;
        animation: fadeIn 0.1s linear;
        @media screen and (max-width: 1000px) {
            display: flex;
        }
        @media screen and (max-width: 450px) {
            width: calc(100% - $padding-lr - $padding-lr);
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background-color: transparent;
        }
    }
}
.navbar {
    height: $navbar-height;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .img-wrapper {
            width: $img-width;
            height: $img-height;
            display: flex;
            margin-right: 0.8em;

            img {
                height: 100%;
            }
        }
        .navbar__logo-text {
            color: $pink;
            letter-spacing: 0.22em;
            font-size: 1rem;
        }
    }
    &__avatar {
        height: $img-width;
        width: $img-height;
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
